:root {
  --darkBlue: #191970;
  --lightBlue: #b0e0e6;
  --lightPink: #fff0f5;
}

.margin-small-top {
  margin-top: 10px;
}

.margin-small-right {
  margin-right: 5px;
}

body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36) 0%,
    rgba(121, 9, 98) 68%,
    rgba(0, 0, 120) 100%
  );
}
